.container__sidebar{
    display: flex;
}

.catigories{
    width: 89%;
    padding: 20px;
}

.brands{
    width: 89%;
    padding: 20px;
}

.load{
    width: 90% ;
}

.location{
    padding: 20px;
}

.location{
    width: 89%;
}

.citi{
    padding: 20px;
    width: 89%;
}

.models{
    padding: 20px;
    width: 89%;
}